*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(231, 219, 161);
    text-align: center;
    margin-bottom: 100px;
}
.nav{
    background-color: antiquewhite;
    height: 75px;
    display: flex;
    margin-left: auto;
    margin-right: 50;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li a{
    margin:25px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.banner{
    width: 100%;
    min-height: 200%;
    max-height: 200px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 200px;
}
.cards-section {
    padding: 50px;
    background-color: white;
    text-align: center;
}

.cards-section h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    color: blue;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card {
    background: white;
    width: 250px;
    border-radius: 40px;
}
.card img {
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;        
}
.card-content {
    padding: 18px;
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 6px;
    color: #222;
}
.card-content p {
    font-size: 15px;
    margin: 4px;
    color: gray;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 55px;
    width: auto;
    size: 0;
}
.footer {
    background-color:aquamarine;
    color: orange;
    text-align: center;
    padding:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}